@import "tailwindcss";
strong {
  display: inline-block;
  color: oklch(79.2% 0.209 151.711);
  transition: transform 0.2s ease, color 0.2s ease;
}
strong:hover {
  transform: scale(1.05);
  color: oklch(85% 0.25 151.7);
}
p {
  @apply text-white text-base sm:text-lg md:text-xl;

}
ul{
  @apply list-disc list-inside space-y-2;
}
h1{
  @apply text-4xl 
  sm:text-5xl 
  font-extrabold 
  text-transparent 
  bg-clip-text 
  bg-gradient-to-r from-green-400 to-emerald-300
  mb-5 text-center
  p-5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
